

body{
	margin-left: 2%;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: large;
	background-color: #80ffff;
	color: #ff7700;
}



/*
@media (min-width :300px ) {
	body {
		margin-left: 2%;
		margin-top: 10px;
		font-family: sans-serif;
		font-size: 40px;
		background-color: #80ffff;
		color: #ff7700;
	}

	.Buttons {
		font-weight: bold;
		background-color: #e5e5e5;
		width: fit-content;
		font-family: 'Times New Roman', Times, serif;
		font-size: 20px;
	}
}
*/
#check{
	font-size: large;
	font-weight:bold;

	color: #dd7700;
}
.Buttons{
	font-weight: bold;
	background-color: #e5e5e5; 
	width: fit-content;
    font-family:'Times New Roman', Times, serif;
		
	
}

.aPerson {
	font-family: 'Times New Roman', Times, serif;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-block-end: 5px;
	margin-block-start: 5px;
}

.aPerson p {
	margin-top: 2px;
	margin-bottom: 2px;
}

@media (max-width:1000px) {
	body {
		margin-left: 2%;
		margin-top: 10px;
		font-family: sans-serif;
		font-size: 35px;
		background-color: #408f8d;
		color: #9dfff1;
	}
	.Buttons {
		background-color: #111b30ab;
		color: #9dfff1c3;
		width: fit-content;
		margin-left: 15px;
		margin-right: 15px;
		font-family: 'Times New Roman', Times, serif;
		font-size: 35px;
	}
	.aPerson {
		font-family: 'Times New Roman', Times, serif;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-block-end: 15px;
		margin-block-start: 15px;
		border: solid 4px #e7d2d2e8;
		padding: 10px;
	}

	.aButton {
		font-size: 35px;
		overflow-wrap: break-word;
		background-color: #111b30ab;
		color: #9dfff1;
	}

	#check {
		font-size: 30px;
		max-height: 120px;
		color: #111b30ab;
		font-weight:bold;
		background-color: #e7d2d2e8;
	}
}